{% extends "hockey_app/base_template.html" %}
{% load static %}

{% block content %}
<div class="content-padding">
    <h1>Welcome!</h1>
    <h5>A little about us ...</h5>
    <p>The Colorado Springs Adult Hockey league is for players that are 18 years and older.<br>
    This league is open to female and male players.<br>
    The season runs annually where typically there will be 28-32 games in a season take a week off & then play another 38-32
    games.<br><br></p>
    
    <h5>Advanced League</h5>
    <p>The advanced league is for players that have typically played at the high school or higher levels.<br>
    The advanced league plays on wednesdays at Ed Ropson Arena with game times at 6pm, 7:15pm, 8:30pm, & 9:45pm<br><br></p>
    <h5>Intermediate league</h5>
    <p>The intermediate league is generally older & less experienced then the advanced players<br>
    The intermediate league plays on mondays with games 6pm, 7:15pm, 8:30pm, & 9:45pm</p>

    

</div>

    <div class="row">
            <div class="col-md-4">
                <div class="thumbnail image-overlay">
                    <img src="{% static 'images/homePic1.jpg' %}" style="width:100%">
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail image-overlay">
                    <img src="{% static 'images/homePic2.jpeg' %}" style="width:100%">
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail image-overlay">
                    <img src="{% static 'images/homePic3.jpeg' %}" style="width:100%">
                </div>
            </div>
    </div>
    
<div class="content-padding">
<div>
    <h1>Schedules</h1>
    <center><h2>{{ cal|safe }}</h2></center><!-- "|" this is called a filter & "safe" will render the html calendar -->
    
</div>
    


    <h1>Standings</h1>
    <p>coming soon with next sprint</p>
</div>




{% endblock %}