{% extends 'hockey_app/base_template.html' %}
{% block content %}
<div class="content-padding">
    <h1>Delete Player</h1>
    <div class="container-fluid">
        <h5>Are you sure you want to delete "{{ player.name }}"?</h5>
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit">Confirm Delete</button>
                </form>
            </div>
            <div class="col-md-4">
                <a class="btn btn-primary" href="{% url 'player-detail' pk=player.id %}">Cancel</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

